{% extends 'base_inscrp.html.twig' %}


{% block title %}Inscription
{% endblock %}

{% block body %}

	<h1 class="h3 font-weight-normal healthh mt-3">Inscription</h1>

	{{ form_errors(registrationForm) }}
	<div class="container col-8 shadow p-3 mb-5 bg-body rounded col-5 position-absolute top-50 start-50 translate-middle">
		<div class="row">

			{{ form_start(registrationForm) }}
			{{ form_widget(registrationForm) }}

			<button type="submit" class="btn bouton ">Inscription</button>
			{{ form_end(registrationForm) }}

		</div>
	</div>


{% endblock %}
