{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie
{% endblock %}

{% block body %}
	<h1 class="h3 font-weight-normal healthh mt-5 ">Créer une nouvelle catégorie</h1>

	<div class="shadow p-3 mb-5 bg-body rounded col-5 position-absolute top-50 start-50 translate-middle">
		<div class="container col-8 mt-5 ">
			<div class="row">
				{{ include('Backend/Category/_form.html.twig') }}

			</div>

		</div>
	</div>
{% endblock %}
