{% extends 'base.html.twig' %}

{% block title %}Edition du profil
{% endblock %}

{% block body %}


	<h3 class="font-weight-normal healthh mt-3">Modifier mon profil</h3>

	<section>
		<div class="container col-8 shadow p-3 mb-5 bg-body rounded  position-absolute top-50 start-50 translate-middle">
			<div class="row">
				{{ form_start(form) }}
				{{ form_widget(form) }}

				<div class="container justify-content-center d-flex">

					<button class="btn bouton mb-5 mt-3">{{ button_label|default('Modifier') }}</button>

				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</section>


{% endblock %}
