{% extends '_admin.html.twig' %}

{% block title %}New Event
{% endblock %}

{% block body %}
	<h1 class="h3 font-weight-normal healthh mt-1">Créer un nouveau Evenement</h1>
	<div class="shadow p-1 mt-5 bg-body rounded col-6 position-absolute top-50 start-50 translate-middle">
		<div class="container col-11">
			<div class="row">
				<table>
					<tr>
						<td>

							{{ include('Backend/Event/_form.html.twig') }}
						</td>

					</tr>
				</table>


			</div>
		</div>
	</div>
{% endblock %}
