{% extends 'base.html.twig' %}

{% block title %}AdminEvent
{% endblock %}


{% block body %}


	<h1 class="h1 font-weight-normal healthh mt-2 mb-3">Les évènements</h1>

	<div class=" container">
		<div class="row">
			{% for event in pagination %}
				<div class="col-md-6">
					<div class="card shadow p-3 mb-5 bg-body rounded" style="width: 100%;height:95%;display: flex;">
						<div class="card-body">
							<h2 class="card-title font-weight-normal ecriture">{{ event.name }}</h2>

							<h6>
								{% for category in event.categories %}
									<p class="card-text">
										Catégorie
										{{category.titre}}</p>
								{% endfor %}

								<p class="card-text">
									Aura lieu le
									{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}
								</p>
								<p class="card-text">
									Le lieu de l'évenement
									{{event.location}}</p>


							</h6>

						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>


{% endblock %}
